<%- include("_start") %>
<%- include("_nav2") %>

      <!-- Login Form Start -->
      <div class="login-form-wrapper">
        <div class="login-form-container-main container">
          <div class="row">
            <div
              class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"
            ></div>
            <div
              class=" col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12" style="text-align: center; padding-top: 150px;"
            >
<img src="/Asset/images/404.png" style="max-width: 800px; width: 800px; height: auto; text-align: center;" alt="">
            </div>
            <div
              class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"
            ></div>
          </div>
        </div>
      </div>
      <!-- Login Form End -->
  
    
<%- include("_footer") %>
<%- include("_end") %>