
<script src="/Vendor/js/logout.js"></script>
<script src="/Vendor/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
</body>
</html>
